<!DOCTYPE html>
<html>
<head>
	<style>
		div{
			
			position: absolute;
			margin: auto;
			text-align: center;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 500px;
			height: 200px;
			background-color: #3D93BA;

			border-style: outset;
	    		border-width: 5px;                     
   			
		}

		table{

			text-align: center;
			position: absolute;
			margin: auto;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			margin: auto;
			width: 500px;
			height: 20px;

		}
		h1{
			text-align: center;
		}
	</style>
	<title>SQL Injection Example</title>
</head>
<body style="background-color: #D5ECF6";>
	<h1>SQL Injection Testing</h1>
	
	<a href="/search">Back to search</a>
	<div>
		<table>
			{{range .Entries}}
			<tr>
			<td style="width:65%">{{.Title}}</td>
			<td>{{.Privacy}}</td>
			</tr>
			{{end}}
		</table>
	</div>
	<a href="/logout">Logout</a>

</body>
</html>
